body {
    cursor: default;
    user-select: none;
    font-family: Vanilla;
    font-size: 16px;

    background-color: #218f003b;;
}

#title {
    text-align: center;
    margin-top: 2rem;
}

#title h1 {
    color: rgba(0, 0, 0, 0.596);
}

#game_window {
    position: relative;
    width: 980;
    height: 600;
    margin: 0 auto;

    background-color: black;
    border: 3px solid #218f00;
    border-radius: 2px;
}

#menu_block {
    position: absolute;
    width: 850;
    height: 468;
    left: 0;
    top: 0;

    text-align: center;
    color: white;
}

.menu {
    position: absolute;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 980;
    height: 600;
    left: 0;
    top: 0;
}

#main_menu {
    background-image: url('../assets/images/MainMenu.png');
    background-color: black;
}

#exit_menu {
    background-color: black;
}

#main_canvas {
    left: 0;
    top: 0;
}

#lose_menu {
    background-image: url('../assets/images/GameOverScreen.png');
}

#win_menu {
    background-image: url('../assets/images/LevelCompleteScreen.png');
}

ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}

li {
    padding: 10px 0;
}

a {
    color: inherit;
    text-decoration: none;
    text-shadow: -1px -1px 0 black;
}

/* MAIN MENU BUTTONS */

#PlayButton {
    
    display: block;
    margin-left: 335px;
    margin-top: 68px;
    width: 335;
    height: 108;
    border-radius: 11px;
    background-image: url('../assets/images/MainMenuPlayButton.png');
    
}

#QuitButton {
 
    display: block;
    margin-left: 415px;
    margin-top: 7px;
    width: 174;
    height: 74;
 
    border-radius: 11px;
    
    background-image: url('../assets/images/MainMenuQuitButton.png');
}

#AudioButton {
    
    display: block;
    margin-left: 84px;
    margin-top: -435px;
    width: 54;
    height: 50;
    border-radius: 8px;
    background-image: url('../assets/images/ToggleAudioButtonV2.png');
    
}

#PlayButton:hover {
    
    background-image: url('../assets/images/MainMenuPlayButtonV2.png');
}

#QuitButton:hover {
    background-image: url('../assets/images/MainMenuQuitButtonV2.png');
}

#AudioButton:hover {
    background-image: url('../assets/images/ToggleAudioButtonHover.png');
}

#AudioButton:focus {
    background-image: url('../assets/images/ToggleAudioButton.png');
}

/* LOSE MENU BUTTONS */

#TryAgainButton {
    
    display: block;
    margin-left: 335px;
    margin-top: -30px;
    width: 335;
    height: 108;
    border-radius: 11px;
    background-image: url('../assets/images/TryAgainButton.png');
    
}

#MainMenuButton {
 
    display: block;
    margin-left:415px;
    margin-top: 355px;
    width: 174;
    height: 74;
 
    border-radius: 11px;
    
    background-image: url('../assets/images/MainMenuButtonV1.png');
}

#TryAgainButton:hover {
    
    background-image: url('../assets/images/TryAgainButtonHover.png');
}

#MainMenuButton:hover {
    background-image: url('../assets/images/MainMenuButtonV2.png');
}

/* WIN MENU BUTTONS */

#PlayAgainButton {
    
    display: block;
    margin-left: 335px;
    margin-top: -35px;
    width: 335;
    height: 108;
    border-radius: 11px;
    background-image: url('../assets/images/PlayAgainButtonV1.png');
    
}

#PlayAgainButton:hover {
    
    background-image: url('../assets/images/PlayAgainButtonV2.png');
}

.sprite {
    display: none;
}

.hidden {
    opacity: 0;
}
